@model mvc_lesson2._1.Models.UserTable
@{
    ViewBag.Title = "ForgotPassword";
    Layout = null; //navbar kaldırılır.
}
<h2>ForgotPassword</h2>
@using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post)) 
{
    <div class="form-horizontal">
        <hr />
        <div class="text-success">
            @ViewBag.Message
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">UserMail</label>
            @Html.TextBoxFor(s=>s.UserMail, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <div class="ccl-md-offset-2 col-md-10">
                <input type="submit" value="Submit" />
            </div>
        </div>
    </div>

}